.contribution-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.contribution-container {
    margin: 120px auto;
}


.contribution-item {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
    position: relative;
}


.contribution-img {
    border-radius: 50%;
}


.contribution-text {
    max-width: 445px;
    margin-right: auto;
}


.contribution-item:nth-child(2) .contribution-text {
    margin-right: 0;
    margin-left: auto;
}


.contribution-item:nth-child(2) {
    flex-direction: row-reverse;
}


.contribution-description {
    color: #939CAA;
}


.contribution-header {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    color: #495567;
    margin-bottom: 24px;
}


.contribution-list::before {
    content: '';
    width: 445px;
    height: 445px;
    background: #E5ECF4;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: -509px;
}


.contribution-list::after {
    content: '';
    width: 445px;
    height: 445px;
    background: #E5ECF4;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -509px;
}


.contribution-item:first-child::after {
    content: '';
    width: 735px;
    height: 139px;
    position: absolute;
    background: url(../../img/about-array-left.svg) no-repeat center center;
    // background-size: contain;
    bottom: 38.64px;
    right: -165px;
}

.contribution-item:nth-child(2)::before {
    content: '';
    width: 735px;
    height: 139px;
    position: absolute;
    background: url(../img/about-array-right.svg) no-repeat;
    background-size: contain;
    top: 0;
    left: -165px;
}


@media screen and(max-width: 1106px) {

    .contribution-item,
    .contribution-item:nth-child(2) {
        flex-direction: column-reverse;
    }


    .contribution-item:nth-child(2) {
        margin-bottom: 0;
    }


    .contribution-item:nth-child(2) .contribution-header {
        max-width: 457px;
        margin: 0 auto 40px;
    }


    .contribution-header {
        margin-bottom: 40px;
    }


    .contribution-text {
        margin: 0;
        margin-top: 56px;
        max-width: 100%;
        text-align: center;
    }

    .contribution-item:first-child::after {
        content: '';
        width: 735px;
        height: 139px;
        position: absolute;
        background: url(../../img/about-array-left.svg) no-repeat center center;
        // background-size: contain;
        bottom: 281px;
        left: 0;
    }

    .contribution-item:nth-child(2)::before {
        content: '';
        width: 735px;
        height: 139px;
        position: absolute;
        background: url(../img/about-array-right.svg) no-repeat;
        background-size: contain;
        top: 0;
        left: -96px;
    }

    .contribution-list::before {
        content: '';
        width: 445px;
        height: 445px;
        background: #E5ECF4;
        border-radius: 50%;
        position: absolute;
        bottom: 242px;
        left: -409px;
    }
}


@media screen and(max-width: 768px) {
    .contribution-img {
        max-width: 100%;
    }

    .contribution-header {
        font-size: 32px;
        margin-bottom: 32px;
    }


    .contribution-item:nth-child(2)::before {
        content: '';
        width: 735px;
        height: 139px;
        position: absolute;
        background: url(../img/about-array-right.svg) no-repeat;
        background-size: contain;
        top: 0;
        left: -96px;
        display: none;
    }

    .contribution-item:first-child::after {
        content: '';
        width: 735px;
        height: 139px;
        position: absolute;
        background: url(../../img/about-array-left.svg) no-repeat center center;
        // background-size: contain;
        bottom: 392px;
        left: 0;
        display: none;
    }

    .contribution-list::before {
        content: '';
        width: 445px;
        height: 445px;
        background: #E5ECF4;
        border-radius: 50%;
        position: absolute;
        bottom: 242px;
        left: -409px;
        display: none;
    }
}